<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head}"></head>

	<body>
		<nav th:replace="~{fragments/nav}"></nav>

		<h1 th:text="${page}"></h1>

		<div class="row container-fluid">
            <div class="col-lg-4 order-last order-lg-first">
                <form class="mx-auto checkout-form">
                    <!-- <div class="form-row align-items-center"> -->
                            <label><b>Card Information</b></label><br>
                            <input type="text" placeholder="1234 1234 1234 1234" style="width:200px;"><br>
                            <input type="text" placeholder="MM/YY" style="width:110px">
                            <input type="text" placeholder="CVV" style="width:85px;"><br><br>

                        <label><b>Cardholder Name</b></label><br>
                        <input type="text" placeholder="John Smith"> <br><br>

                        <label><b>Billing Adress</b></label><br>
                        <input type="text" placeholder="Address Line 1"><br>
                        <input type="text" placeholder="Address Line 2"><br>
                        <input type="text" placeholder="City"><br>
                        <select style="width:200px;">
                            <option>Co. Meath</option>
                        </select>
                        <br>
                        <input type="text" placeholder="Eircode"><br><br>
                        <input type="submit" value="Place Order"><br><br>
                    <!-- </div> -->
                </form>
            </div>
            <div class="col-lg-8 order-first order-lg-last">
                <table class="table">
                    <tr>
                        <th colspan="2">Item</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    <tr th:each="item: ${items}">
                        <td><img class="icon" th:src="@{/images/blank.png}"></td>
                        <td th:text="${item.name}" />
                        <td th:text="'€' + ${#numbers.formatDecimal(item.unitPrice,2,2)}" />
                        <td th:text="${item.quantity}">
                        <td th:text="'€' + ${#numbers.formatDecimal(item.totalPrice,2,2)}" />
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total</b></td>
                        <td></td>
                        <td></td>
                        <td th:text="'€' + ${#numbers.formatDecimal(total,2,2)}" />
                    </tr>
                </table>
            </div>
        </div>
	</body>
</html>