<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head}"></head>

	<body>
		<nav th:replace="~{fragments/nav}"></nav>

		<h2 class="text-center" th:text="'Order #' + ${orderNum}"></h2>

		<div class="row container-fluid">
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr th:each="item : ${items}">
                    <td th:text="${item.name}" />
                    <td th:text="'€' + ${#numbers.formatDecimal(item.unitPrice,2,2)}" />
                    <td th:text="${item.quantity}" />
                    <td th:text="'€' + ${#numbers.formatDecimal(item.price,2,2)}" />
                </tr>
                <tr>
                    <td colspan="3">Total</td>
                    <td th:text="'€' + ${#numbers.formatDecimal(total,2,2)}" />
                </tr>
            </table>
        </div>
	</body>
</html>