<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${page}"></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     	<script type="text/javascript" src="http://me.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=2QujauwjWsg1tIqMCvTM3k5eK1EDRzHzzxkYofJNSGAS0Bp_vKOrWISv6lCJlNBzbiVxrMshOOwsXRIeBHYyss6NHpqVX2RjjXrxZj4jZec" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/cataloguestyle.css}">
	</head>
	<body>
		<nav th:replace="~{fragments/nav}"></nav>
	  
		  <div class="search-container">
			<br>
	  
			<div class="filter-button">
			  <button style="background-color: #b0b0b0" type="button" class="btn btn-secondary btn-block">Clear Filters</button>
			</div>
			<table class="filter-container">
			  <tr>
				<td>
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
				  <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
				</td>
			  </tr>
			  <tr style="background-color: #DEDEDE">
				<td>
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
				  <label class="form-check-label" for="flexCheckDefault1">Default checkbox</label>
				</td>
			  </tr>
			  <tr>
				<td>
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
				  <label class="form-check-label" for="flexCheckDefault2">Default checkbox</label>
				</td>
			  </tr>
			  <tr style="background-color: #DEDEDE">
				<td>
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
				  <label class="form-check-label" for="flexCheckDefault3">Default checkbox</label>
				</td>
			  </tr>
			  <tr>
				<td>
				  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
				  <label class="form-check-label" for="flexCheckDefault4">Default checkbox</label>
				</td>
			  </tr>
			</table>
		  </div>
	  
		  <div class="ad-image">
			  <h2 style="color:white">Insert Image/ Ad here</h2>
		  </div>
	  
		  <div class="order-by-container">
			<form action="/action_page.php">
			  <label for="cars">Sort By</label>
			  <select name="cars" id="cars">
				<option value="volvo">None</option>
				<option value="saab">A -> Z</option>
				<option value="opel">Z -> A</option>
				<option value="audi">$ -> $$$</option>
				<option value="audi">$$$ -> $</option>
			  </select>
			</form>
		  </div>
		  <br>
		  <br>
		  <br>
	  
		  <div class="product-container" th:each="model : ${models}" th:id="${model.id}">
			<div class="product-half-container-des">
			  <h3 th:text="${model.name}">NAME</h3>
			  <p>DESCRIPTION</p>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel accumsan lorem. Mauris congue tempor auctor. Morbi pretium arcu magna, a gravida eros malesuada vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			</div>
			<br>
			<br>
			  <div class="product-half-container-price">
				<br>
	  
				<div class="check-box-container">
				  <div class="form-check">
					<input class="form-check-input" type="radio" th:name="${model.id}" th:id="${model.id} + a" checked>
					<label class="form-check-label" th:for="${model.id} + a">
					  Trained
					</label>
				  </div>
				  <div class="form-check">
					<input class="form-check-input" type="radio" th:name="${model.id}" th:id="${model.id} + b">
					<label class="form-check-label" th:for="${model.id} + b">
					  Untrained
					</label>
				  </div>
				</div>
				<div class="price-box" th:text="${model.untrainedPrice}" style="display: none;"></div>
				<div class="price-box" th:text="${model.trainedPrice}" ></div>
			  <button type="button" class="btn btn-danger btn-lg">Add to Cart</button>
			</div>
		  </div>

	  
	</body>
</html>