<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head}"></head>

	<body>
		<nav th:replace="~{fragments/nav}"></nav>

		<h1 th:text="${page}"></h1>

		<input type="number" id="prodId" placeholder="Product ID"><br>
		<input type="number" id="quant" placeholder="Quantity"><br>
		<input type="checkbox" id="trained"> <br>
		<input type="button" value="Add to Cart" onclick="addCart()">

		<br><br>

		<input type="button" onclick="showCart()" value="Show Cart">
	</body>
</html>