#prev_wf, #credits {
    position: fixed;
    left: 10%;
}

#next_wf {
    position: fixed;
    right: 10%;
}

#prev_wf, #next_wf, #credits {
    top: 50%;
    transform: translateY(50%);
}

#prev_wf, #next_wf {
    border: none;
    background-color: inherit;
}

.icon_wf {
    height: 2.5rem;
    width: 2.5rem;
    filter: invert(49%) sepia(91%) saturate(1367%) hue-rotate(211deg) brightness(97%) contrast(91%);
    border: none;
}

#credits {
    left: 9%;
    top: 60%;
}

#gallery {
    height: 70vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#gallery img{
    border: 2px solid black;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

#jamie, #loid, #nicky, #radu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jamie :nth-child(1), #jamie :nth-child(2), .home {
    width: 50vw;
}

#jamie :nth-child(3) {
    width: 25vw;
}

#radu img {
    height: 30vh;
    width: auto;
}