<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/nav}"></nav>
<main id="flexColumn">
    <div id="options">
        <button id="show_models">
            <img alt="models_icon" th:src="@{/images/models.svg}"/>
            <br/>
            Models
        </button>
        <button id="show_orders">
            <img alt="orders_icon" th:src="@{/images/orders.svg}"/>
            <br/>
            Orders
        </button>
        <button id="logout"><img alt="order_icon" th:src="@{/images/logout.svg}"/>
            <br/>Logout
        </button>
    </div>
    <table id="models" class="stretch_height">
        <tr>
            <td colspan="5">
                <button id="add_model" style="min-width: fit-content">+ Add model</button>
            </td>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name
                <button id="sort_name">
                    <span th:text="${(sort!='name') ? '&#9650;&#9660;' : ''}"></span>
                    <span th:text="${(sort=='name') && (order=='asc') ? '&#9650;' : ''}"></span>
                    <span th:text="${(sort=='name') && (order=='desc') ? '&#9660;' : ''}"></span>
                </button>
            </th>
            <th>Trained</th>
            <th>Untrained</th>
            <th>Tags</th>
            <th colspan="2"></th>
        </tr>
        <tr th:each="item: ${modelList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}" style="min-width: 350px;"/>
            <td th:text="${item.trainedPrice}"/>
            <td th:text="${item.untrainedPrice}"/>
            <td>
                <span th:each="tag: ${item.tags}" th:text="${tag}" class="tag"></span>
            </td>
            <td>
                <button name="Edit" th:onclick="startEditing([[${item}]])">Edit</button>
            </td>
            <td>
                <button name="Delete" th:onclick="startDeleting([[${item}]])">Delete</button>
            </td>
        </tr>


    </table>

    <script>

    </script>

    <form action="/addmodel" method="post" id="add_model_form" style="display: none;">
        <div>Add new model</div>
        <label for="name">name:</label><br>
        <input type="text" id="name" name="name" value="NewName"><br>

        <label for="trainedPrice">Trained price:</label><br>
        <input type="number" id="trainedPrice" name="trainedPrice" value="123"><br>

        <label for="untrainedPrice">Untrained price:</label><br>
        <input type="number" id="untrainedPrice" name="untrainedPrice" value="121"><br>

        <label for="tags">Tags: (Choose between image,generation,art,animated)</label><br>
        <input type="text" id="tags" name="tags" value="image,generation,art,animated"><br><br>
        <input type="submit" value="Submit">
        <button id="back_from_add" style="min-width: fit-content">Back to list</button>
    </form>

    <form action="/savemodel" method="post" id="edit_model_form" style="display: none;">
        <div>Save changes on the model</div>
        <input type="hidden" id="e_id" name="id" value="0"><br>

        <label for="e_name">name:</label><br>
        <input type="text" id="e_name" name="name" value=""><br>

        <label for="e_trainedPrice">Trained price:</label><br>
        <input type="number" id="e_trainedPrice" name="trainedPrice" value=""><br>

        <label for="e_untrainedPrice">Untrained price:</label><br>
        <input type="number" id="e_untrainedPrice" name="untrainedPrice" value=""><br>

        <label for="e_tags">Tags: (Choose between image,generation,art,animated)</label><br>
        <input type="text" id="e_tags" name="tags" value="" style="width: 400px;"><br><br>
        <input type="submit" value="Submit">
        <button id="back_from_edit" style="min-width: fit-content">Back to list</button>
    </form>

    <form action="/deletemodel" method="post" id="delete_model_form" style="display: none;">
        <div>Are you sure you want to delete the model</div>
        <input type="hidden" id="d_id" name="id" value="0"><br>

        <input type="submit" value="Delete">
        <button id="back_from_delete" style="min-width: fit-content">Back to list</button>
    </form>


    <table id="orders" style="display: none">
        <tr>
            <th>Order Number</th>
            <th>Items</th>
            <th>Date</th>
            <th>State</th>
            <th>Change State</th>
        </tr>
        <tr id="0">
            <td>0</td>
            <td>ChatGPT</td>
            <td>12/12/22</td>
            <td>Delivered</td>
            <td>
                <button id="edit_model">Edit</button>
            </td>
        </tr>
    </table>
    <br/>
</main>
<script>
    models = document.getElementById("models");
    orders = document.getElementById("orders");
    addModel = document.getElementById("add_model_form");
    editModel = document.getElementById("edit_model_form");
    deleteModel = document.getElementById("delete_model_form");

    let url = window.location.href;
    let parts = url.split('?');
    let sortOrderName = 'desc';
    if (parts.length > 1) {
        let params = parts[1].split('&');
        for (let i = 0; i < params.length; i++) {
            if (params[i].startsWith('order')) {
                let pair = params[i].split("=");
                sortOrderName = pair[1];
            }
        }
    }

    function startEditing(model) {
        console.log(model);
        document.getElementById('e_id').value = model['id'];
        document.getElementById('e_name').value = model['name'];
        document.getElementById('e_trainedPrice').value = model['trainedPrice'];
        document.getElementById('e_untrainedPrice').value = model['untrainedPrice'];
        document.getElementById('e_tags').value = model['tags'];
        models.style.display = "none";
        editModel.style.display = "";
        addModel.style.display = "none";
    }

    function startDeleting(model) {
        console.log(model);
        document.getElementById('d_id').value = model['id'];
        models.style.display = "none";
        deleteModel.style.display = "";
        addModel.style.display = "none";
    }

    document.getElementById("sort_name").addEventListener("click", () => {
        if (sortOrderName === 'desc') {
            sortOrderName = 'asc';
        } else {
            sortOrderName = 'desc';
        }
        window.location.href = window.location.href.split("?")[0] + "?sort=name&order=" + sortOrderName;
    });

    document.getElementById("show_models").addEventListener("click", () => {
        models.style.display = "";
        orders.style.display = "none";
    });

    document.getElementById("show_orders").addEventListener("click", () => {
        models.style.display = "none";
        orders.style.display = "";
    });

    document.getElementById("add_model").addEventListener("click", () => {
        models.style.display = "none";
        addModel.style.display = "";
        editModel.style.display = "none";
    });

    document.getElementById('back_from_add').addEventListener("click", () => {
        models.style.display = "";
        addModel.style.display = "none";
    });

    document.getElementById('back_from_edit').addEventListener("click", () => {
        models.style.display = "";
        editModel.style.display = "none";
    });

    document.getElementById('back_from_delete').addEventListener("click", () => {
        models.style.display = "";
        deleteModel.style.display = "none";
    });

    /*document.getElementById("edit_model").addEventListener("click", e => {
        row = document.createElement("tr");

        id = document.createElement("td");
        rowID = e.target.parentNode.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.textContent;
        id.textContent = rowID;

        items = document.createElement("td");
        items.textContent = e.target.parentNode.previousElementSibling.previousElementSibling.previousElementSibling.textContent;

        time = document.createElement("td");
        time.textContent = e.target.parentNode.previousElementSibling.previousElementSibling.textContent;

        td1 = document.createElement("td")
        state = document.createElement("select");
        value1 = document.createElement("option")
        value1.value = "Discontinued";
        value1.textContent = "Discontinued"
        state.replaceChildren(value1)
        td1.replaceChildren(state)

        td2 = document.createElement("td");
        agree = document.createElement("input");
        agree.type = "submit";
        agree.value = "Save"
        agree.classList.add("stretch_width");
        agree.addEventListener("click", () => {
            row.style.display = "none";
        })
        td2.replaceChildren(agree)

        row.replaceChildren(id, items, time, td1, td2)

        document.getElementById(rowID).after(row)
    })*/
</script>
</body>
</html>