<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:replace="~{fragments/head}"></head>
	<body>
		<nav th:replace="~{fragments/nav}"></nav>
		<form id="credentials flexColumn" action="/login" method="post">
			<label for="username">Username</label>
			<input name="username" type="text" id="username" class="spacing" required>
			<label for="password">Password</label>
			<input name="password" type="password" id="password" class="spacing" required>
			<a href="/signup">Sign up</a>
			<input type="submit" value="Login">
		</form>
	</body>
</html>