<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body style="display: flex; flex-direction: column">
<nav th:replace="~{fragments/nav}"></nav>
<main id="flexColumn">
    <h1 id="options">
        <button id="show_settings">
            <img alt="gear_icon" th:src="@{/images/settings.svg}"/>
            <br/>
            Settings
        </button>
        <button id="show_order_history">
            <img alt="order_icon" th:src="@{/images/orders.svg}"/>
            <br/>
            Orders
            <br/>
            History
        </button>
        <button id="logout"><img alt="order_icon" th:src="@{/images/logout.svg}"/>
            <br/>Logout
        </button>
    </h1>
    <form id="settings" action="" class="stretch_height">
        <div class="divider">
            <h5>Username</h5>
            <p th:text="${user.username}"></p>
        </div>
        <div class="divider">
            <h5>Email</h5>
            <p th:text="${user.email}"></p>
        </div>
    </form>
    <table style="display: none" id="order_history" class="stretch_height table">
        <tr>
            <th>Order No.</th>
            <th>Date</th>
            <th>To</th>
			<th>Status</th>
			<th></th>
        </tr>
        <tr th:each="order : ${pastOrders}">
            <td th:text="${order.orderNum}" />
            <td th:text="${order.date}" />
            <td th:text="${order.to}" />
            <td th:if="${order.status} eq 'ordered'">Ordered</td>
            <td th:if="${order.status} eq 'dipatched'">Dispatched</td>
            <td th:if="${order.status} eq 'delivered'">Delivered</td>
            <td><a th:href="'order/view/' + ${order.orderNum}">View product(s)</a></td>
        </tr>
    </table>
    <br/>
</main>
<script>
    settings = document.getElementById("settings");
    order_history = document.getElementById("order_history");

    document.getElementById("show_settings").addEventListener("click", () => {
        settings.style.display = "";
        order_history.style.display = "none";
    })

    document.getElementById("show_order_history").addEventListener("click", () => {
        settings.style.display = "none";
        order_history.style.display = "";
    })

    password = document.getElementById("password");

    document.getElementById("show_password").addEventListener("click", () => {
        if (password.getAttribute("type") === "password") {
            password.setAttribute("type", "text")
        } else {
            password.setAttribute("type", "password")
        }
    })
</script>
</body>
</html>