<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/nav}"></nav>
<form id="flexColumn" class="credential relativeCenter" action="/signup" method="post">
    <div class="divider">
        <label for="username">Username</label>
        <br>
        <input name="username" type="text" id="username" class="spacing" required>
    </div>
    <div class="divider">
        <label for="email">Email</label>
        <br>
        <input name="email" type="text" id="email" class="spacing" required>
    </div>
    <div class="divider">
        <label for="password">Password</label>
        <br>
        <input name="password" type="password" id="password" class="spacing" required>
    </div>
    <div class="divider">
        <input type="submit" value="Create account">
    </div>
</form>
</body>
</html>