<nav th:fragment="navbar">
    <div>
        <div>
            <h2>Green AI Model Shop</h2>
        </div>
        <ul>
            <li th:switch="${page}">
                <a th:case="'home'" th:href="'#'">Home</a>
                <a th:case="*"  th:href="@{/}">Home</a>
            </li>
  
            <li th:switch="${page}">
                <a th:case="'catalogue'" th:href="'#'">Products</a>
                <a th:case="*" th:href="@{/catalogue}">Products</a>
            </li>
  
            <li th:switch="${page}">
                <a th:case="'about'" th:href="'#'">About</a>
                <a th:case="*" th:href="@{/about}">About</a>
            </li>    
  
            <li th:switch="${page}">
                <a th:case="'faq'" th:href="'#'">FAQ</a>
                <a th:case="*" th:href="@{/faq}">FAQ</a>
            </li>         
  
            <li th:switch="${page}">
                <a th:case="'contact'" th:href="'#'">Contact</a>
                <a th:case="*" th:href="@{/contact}">Contact</a>
            </li>       
        </ul>
    </div>    

    <div th:switch="${loggedIn}">
        <span th:case="true">
            <a th:href="@{/profile}">Your Account</a>
        </span>

        <span th:case="*">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/signup}">Sign Up</a>
        </span>
    </div>

</nav>