<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head}"></head>

	<body>
		<nav th:replace="~{fragments/nav}"></nav>

		<h1 th:text="${page}"></h1>

		<p>If you have any queries, we can be contacted at help@green.com, any complaints may be filed <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a>.</p>

		<p>Our HQ is located at:<br>
			Room B106,<br>
			First Floor,<br>
			Computer Science and Informatics Building,<br>
			University College Dublin,<br>
			Belfield,<br>
			Dublin 4,<br>
			Ireland<br>
		</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.5222714800435!2d-6.2251092811483355!3d53.3094246955467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4867093159e936b9%3A0xb70c94e069922bfb!2sComputer%20Science%20Sci%20Building%20UCD!5e0!3m2!1sen!2sie!4v1678938379247!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</body>
</html>