<!DOCTYPE html>    
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head}"></head>

	<body>
		<nav th:replace="~{fragments/nav}"></nav>

		<h1 th:text="${page}"></h1>
		<p>Welcome to the <i>Green AI Marketplace<sup>&copy;</sup></i>. Here we sell a wide range of AI models to meet all your AI needs. Need to cheat in an international chess tournament à la Hans Niemann? Try our <a href="/product/23">Chess Playing Model</a>. See a logo but you can't quite remember what company it's from? Then perhaps our <a href="/product/10">Logo Classification Model</a> is for you. Or maybe you just want a model to draw you something yoou can hang on your wall, in that case why not give our <a href="/product/4">Realistic Drawing Model</a> a try? We are constantly adding to our collection of AI models on offer, so if we don't have exactly what your looking for, get in touch and we'll get you what you need.</p>

		<p>All you need to do to get started is <a href="/login">Sign Up</a> and start browsing!</p>
	</body>
</html>