<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

</head>

<body>
<nav th:replace="~{fragments/nav}"></nav>
<script>
    function startEditing(model) {
        console.log(model);
        document.getElementById('e_id').value = model['modelId'];
        document.getElementById('e_name').value = model['name'];
        document.getElementById('e_trainedPrice').value = model['trainedPrice'];
        document.getElementById('e_untrainedPrice').value = model['untrainedPrice'];
        document.getElementById('e_tags').value = model['tags'];
    }
</script>

<h1>Catalogue</h1>
<div th:if="${modelList}">

    <form action="/addmodel" method="post">
        <div>Add new model</div>
        <label for="name">name:</label><br>
        <input type="text" id="name" name="name" value="NewName"><br>

        <label for="trainedPrice">Trained price:</label><br>
        <input type="number" id="trainedPrice" name="trainedPrice" value="123"><br>

        <label for="untrainedPrice">Untrained price:</label><br>
        <input type="number" id="untrainedPrice" name="untrainedPrice" value="121"><br>

        <label for="tags">Tags: (Choose between image,generation,art,animated)</label><br>
        <input type="text" id="tags" name="tags" value="image,generation,art,animated"><br><br>
        <input type="submit" value="Submit">
    </form>

    <form action="/savemodel" method="post">
        <div>Save changes on the model</div>
        <input type="hidden" id="e_id" name="id" value="0"><br>

        <label for="e_name">name:</label><br>
        <input type="text" id="e_name" name="name" value=""><br>

        <label for="e_trainedPrice">Trained price:</label><br>
        <input type="number" id="e_trainedPrice" name="trainedPrice" value=""><br>

        <label for="e_untrainedPrice">Untrained price:</label><br>
        <input type="number" id="e_untrainedPrice" name="untrainedPrice" value=""><br>

        <label for="e_tags">Tags: (Choose between image,generation,art,animated)</label><br>
        <input type="text" id="e_tags" name="tags" value=""><br><br>
        <input type="submit" value="Submit">
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Trained</th>
            <th>Untrained</th>
            <th>Tags</th>
            <th></th>
        </tr>
        <tr th:each="item: ${modelList}">
            <td th:text="${item.modelId}"></td>
            <td th:text="${item.name}" style="min-width: 350px;"/>
            <td th:text="${item.trainedPrice}"/>
            <td th:text="${item.untrainedPrice}"/>
            <td th:text="${item.tags}"/>
            <td>
                <button name="Edit" th:onclick="startEditing([[${item}]])">Edit</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>