<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/head}"></head>
	<body>
		<nav th:replace="~{fragments/nav}"></nav>
        <br/>
        <div id="gallery">
            <div class="0" id="jamie">
                <img class="checkout_desktop" alt="checkout desktop wireframe" th:src="@{/wireframes/checkout_desktop.png}">
                <img class="shopping_cart" alt="shopping cart wireframe" th:src="@{/wireframes/shopping_cart.png}">
                <img class="checkout_mobile" alt="checkout mobile wireframe" th:src="@{/wireframes/checkout_mobile.png}">
            </div>
            <div class="1" id="nicky" style="display: none">
				<img class="home" alt="home wireframe" th:src="@{/wireframes/catalogue.png}">
            </div>
            <div class="2" id="radu" style="display: none">
				<img class="login" alt="login wireframe" th:src="@{/wireframes/login.jpg}">
				<img class="signup" alt="signup wireframe" th:src="@{/wireframes/signup.jpg}">
            </div>
            <div class="3" id="loid" style="display: none">
                <img class="profile_settings" alt="profile_settings wireframe" th:src="@{/wireframes/profile_settings.jpg}">
                <img class="profile_orders" alt="profile_orders wireframe" th:src="@{/wireframes/profile_orders.jpg}">
                <img class="dashboard_models" alt="dashboard_models wireframe" th:src="@{/wireframes/dashboard_models.jpg}">
                <img class="dashboard_orders" alt="dashboard_orders wireframe" th:src="@{/wireframes/dashboard_orders.jpg}">
            </div>
        </div>
        <p id="credits">
            Credits:
            <br/>
            Jamie Cronin
        </p>
        <button id="prev_wf">
            <img class="icon_wf" alt="previous wireframe" th:src="@{/images/prev.svg}"/>
        </button>
        <button id="next_wf">
            <img class="icon_wf" alt="next wireframe" th:src="@{/images/next.svg}"/>
        </button>
        <script>
            credits = document.getElementById("credits")
            names = ["Jamie Cronin", "Nicky Danilov", "Radu Toporan", "Loid Tayag"]

            document.getElementById("prev_wf").addEventListener("click", () => {
                if (!credits.textContent.includes("Jamie Cronin")) {
                    let i = 1
                    let visible = null

                    while (i < names.length) {
                        let curr = document.getElementsByClassName(i)[0]

                        if (curr.style.display !== "none") {
                            visible = curr
                            break
                        }

                        i += 1
                    }

                    document.getElementsByClassName((i-1).toString())[0].style.display = "flex"
                    visible.style.display = "none"
                    credits.innerText = "Credits:\n" + names[i-1]
                }
            })

            document.getElementById("next_wf").addEventListener("click", () => {
                if (!credits.textContent.includes("Loid Tayag")) {
                    let i = 0
                    let visible = null

                    while (i < names.length-1) {
                        let curr = document.getElementsByClassName(i)[0]

                        if (curr.style.display !== "none") {
                            visible = curr
                            break
                        }

                        i += 1
                    }

                    document.getElementsByClassName((i+1).toString())[0].style.display = "flex"
                    visible.style.display = "none"
                    credits.innerText = "Credits:\n" + names[i+1]
                }
            })
        </script>
	</body>
</html>